
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="https://www.hackthebox.eu/images/logo-transparent.png" width="50" height="50">
    <a class="navbar-brand" href="/"><%= machine %> Writeup  | <h7><%= date %><h7></a>
  </nav>